.count{
    display: flex;
    justify-content:space-evenly;
    width:100%;
    margin: auto;
    margin-top: 20px;
}
.sub-count{
    display: flex;
    flex-direction: column;

}
.counts{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.count-word{
    font-size: 20px;
    font-weight: bolder;
}