*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-div1{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 30px;
    background-color: black;
    color: white;
}
.home-icon{
    font-size: 20px;
}
.subdiv1{
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.title-icons{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.home-icon{
    font-size:35px;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.home-icon-title{
    margin-left: -25px;
}
.nav-titles{
    width: 70%;
}
.list1{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subdiv2{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}
.subdiv2 span{
    height: fit-content;
    padding: 5px;
    border:2px solid white;
    border-radius: 10px;
    font-size: 15px;
}
